p{
    background-color: cyan;
    height: 2cm;
    width: 15cm;
}
.item {
	margin: 5px;
	background: tomato;
	text-align: center;
	font-size: 2em;
}

.container {
	width: 400px;
	margin: 0 auto;
	border: 1px solid #ccc;
}