p{
    background-color: cyan;
    height: 2cm;
    width: 15cm;
}
.item {
	background: tomato;
}

.container {
	width: 400px;
	margin: 0 auto;
	border: 2px solid tomato;
    justify-content: center;
}